h2 Timeline
i Latest registered users (an example of SORT command!)

div
  - if (users.length) {
    - users.forEach(function(user) {
      a(class="username", href="/profile?u="+user) #{user}
    - })
  - }

i Latest 50 messages from users around the world!
- if (posts.length)
    - posts.forEach(function(post) {
      div(class='post')
        a(class='username', href='/profile?u='+post.username) #{post.username}
        | #{post.post}
        i posted #{post.elapsed} ago via web
    - })
